*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


  
  
body {

    width: 100;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.75)), url(../Photos/background.jpg);
    background-size: cover;
    background-position: center;
}



.header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
  }
  
  .logo a {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }
  
  .logo a span {
    color: #8739fa;
  }
  
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu a {
    display: block;
    padding: 7px 15px;
    font-size: 17px;
    font-weight: 500;
    transition: 0.2s all ease-in-out;
    color: #fff;
  }
  
  .menu:hover a {
    opacity: 0.4;
  }
  
  .menu a:hover {
    opacity: 1;
    color: #fff;
  }
  
  .menu-icon {
    display: none;
  }
  
  #menu-toggle {
    display: none;
  }
  
  #menu-toggle:checked ~ .menu {
    transform: scale(1, 1);
  }
  
  @media only screen and (max-width: 950px) {
    .menu {
      flex-direction: column;
      
      background-color: #3b3b3b65;
      align-items: start;
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      z-index: 1;
      transform: scale(1, 0);
      transform-origin: top;
      transition: transform 0.3s ease-in-out;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
  
    .menu a {
      margin-left: 12px;
    }
  
    .menu li {
      margin-bottom: 10px;
    }
  
    .menu-icon {
      display: block;
      color: #fff;
      font-size: 28px;
      cursor: pointer;
    }
  }




.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #ffff;
}

.content h1 {
    font-size: 40px;
    margin-top:20px;
}

.content p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    margin-left: 3%;
    margin-right: 3%;
}

.btn {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.span {
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 1S;
}

button:hover span {
    width: 100%;
}

button:hover {
    border: none;
}










/* --------------------------------------------------------------------------------- */

.website-container {
    position: relative;
    width: 80%;
    margin: 0 auto;
}


.menu-opener {
    position: relative;
    width: 40px;
    aspect-ratio: 1/1;
}

.menu-opener div {
    background-color: black;
    transition: 300ms;
}

.line1 {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: black;
    border-radius: 10px;
}

.line2 {
    position: absolute;
    top: 18px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    border-radius: 10px;
}

.line3 {
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    border-radius: 10px;
}

.menu-opener:hover .line1 {
    transform: rotate(45deg) translateX(15px) translateY(12px);
}

.menu-opener:hover .line2 {
    opacity: 0;
}

.menu-opener:hover .line3 {
    transform: rotate(-45deg) translateX(10px) translateY(-12px);
}

.menu-opener:hover + .mobile-link-container {
    height: 100%;
}

.mobile-link-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 0%;
    transition: 300ms;
    overflow: hidden;
}

.mobile-link-container a {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: rgb(54, 54, 54);
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.signup-button {
    display: flex;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    font-weight: bolder;
    background-color: yellow;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    outline: 3px solid transparent;
    transition: 300ms;
}

.signup-button:hover {
    background-color: transparent;
    color: white;
    outline: 3px solid yellow;
    cursor: pointer;
}


.link-container {
    display: flex;
    height: 100%;
    width: 60%;
    justify-content: space-between;
    align-items: center;
}

.link-container a {
    color: black;
    text-decoration: none;
    font-weight: bolder;
    transition: 300ms;
}

.link-container a:hover {
    color: white;
}


.technology-container {
    display: flex;
    width: 100%;
    /* height: 400px; */
    margin-bottom: 50px;
    padding: 30px;
    justify-content: space-around;
    border-radius: 20px;
    transition: 300ms;
}

.technology-container:hover {
    box-shadow: 0px 0px 10px 10px white;
}

.technology-description {
    flex-direction: column;
    width: 50%;
}

.technology-description h1, p {
    margin-bottom: 30px;
    font-weight: bolder;
}

.technology-description li {
    margin-bottom: 30px;
    font-weight: bolder;
}

.button-container {
    width: 100%;
}

.button-container button {
    width: 100%;
    height: 70px;
    border-radius: 10px;
    outline: 3px solid transparent;
    font-size: 17px;
    font-weight: bolder;
    transition: 300ms;
}

.button-container button:hover {
    color: black;
    outline: 3px solid yellow;
    background-color: transparent;
    cursor: pointer;
}

.technology-image {
    width: 40%;
    aspect-ratio: 1 / 1;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 10px;
    transition: 300ms;
}

.technology-image:hover {
    background-size: 120%;
    cursor: pointer;
}


.footer {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem;
    background: transparent;
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
  }